
<app-dashboard></app-dashboard>



<div>
  <table>
    <thead>
      <tr>
        <th>Request-Date</th>
        <th>Name</th>
        <th>EmailAddress</th>
        <th>Services</th>
        <th>Phone-no</th>
       
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of user">
        <td>{{ user.firstName}}</td>
        <td>{{user.lastname }}</td>
        <td> {{ user.emailaddress }}</td>
        <td> {{ user.age }}</td>
        <td>{{ user.Phno }}</td>
      </tr>
    </tbody>
  </table>
</div>

